.landing-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    background-color: #1F1F1F;
    padding: 62px 10%;
    
    .landing-main-title-wrap{
        margin-top: 10px;
        margin-bottom: 10px;

        p{
            font-family: Montserrat Bold;
            font-style: normal;
            font-size: 38px;
            color: #FFFFFF;
        }
    }

    .landing-main-help-text-wrap{
        p{
            display: flex;
            align-items: center;
            max-width: 508px;
            font-family: Montserrat Medium;
            font-style: normal;
            font-size: 18px;
            color: #BEBEBE;

            img {
                width: 153px;
                margin-left: 24px;
            }
        }
    }

    .landing-main-metadao-info-wrap {
        width: 100%;
        display: flex;
        .landing-main-metadao-info {
            flex: 1;
            padding-right: 120px;

            .landing-main-btns-wrap{
                display: flex;
                flex-direction: row;
                margin-top: 42px;
                margin-bottom: 63px;

                a{
                    text-decoration: none;
                }
        
                .landing-main-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 14px 26px;
                    min-width: 200px;
                    height: 100%;
                    background: #00E3D9;
                    border-radius: 13px;
                    cursor: pointer;
                    text-align: center;
        
                    p{
                        font-family: Montserrat Semibold;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #FFFFFF;
                    }
                }
                .launch-app-btn {
                    margin-right: 29px;
                }
                .start-farm-btn {
                    background: transparent;
                    border: 1px solid #00FFF4;
                    box-sizing: border-box;
                }
            }
        }

        .metadao-bg-wrap {
            flex: 1;
            text-align: center;
            img {
                width: 100%;
                max-width: 518px;
                margin-top: 40px;
            }
        }
    }

    .landing-main-metadao-value-wrap {
        width: 100%;
        padding: 46px 0;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin-top: 52px;
        margin-bottom: 77px;

        .landing-main-metadao-item-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .landing-main-metadao-item-title{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #BEBEBE;
                margin-bottom: 4px;
            }
    
            .landing-main-metadao-item-value{
                font-family: Montserrat;
                font-style: normal;
                font-size: 38px;
                color: #FFFFFF;
            }
        }
    }

    .landing-main-metadao-summary-wrap {
        width: 100%;
        .landing-main-metadao-summary-item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 48px;
            }

            img {
                margin-right: 37px;
            }

            .landing-main-help-text-wrap {
                p {
                    max-width: 508px;
                    &:not(:last-child) {
                        margin-bottom: 17px;
                    }

                    span {
                        &:not(:last-child) {
                            margin-right: 24px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                justify-content: flex-end;
                img {
                    margin-right: 0px;
                    margin-left: 37px;
                }
                .landing-main-help-text-wrap {
                    p {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .landing-main{
        padding: 21px 10%;

        .landing-main-title-wrap{
            p{
                font-size: 40px;
            }
        }   
        
        .landing-main-help-text-wrap{
            p{
                width: 100%;
                max-width: unset;
                font-size: 16px;
            }
        }

        .landing-main-metadao-info-wrap {
            flex-direction: column;
            .landing-main-metadao-info {
                padding-right: 0px;
            }
        }
        .landing-main-metadao-summary-wrap {
            .landing-main-metadao-summary-item {
                flex-direction: column;
                img {
                    margin-right: 0px;
                    margin-bottom: 24px;
                }
                .landing-main-help-text-wrap p {
                    text-align: center;
                }
                &:nth-child(2) {
                    justify-content: center;
                    .landing-main-help-text-wrap {
                        p {
                            text-align: center;
                        }
                    }
                    img {
                        margin-left: 0px;
                        order: -1;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 465px) {
    .landing-main{
        .landing-main-metadao-info-wrap {
            .landing-main-metadao-info {
                .landing-main-btns-wrap{
                    flex-direction: column;

                    .landing-main-btn{
                        margin-right: 0px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}