.dashboard-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  width: 89%;
  max-width: 833px;
  margin: auto;


  .dashboard-view-title {
    width: 100%;
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .dashboard-infos-wrap{
    background: #000000;
    border: 1px solid #787878;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 10px rgba(0, 0, 0, 0.25);
    padding: 28px 28px 0px;

    .MuiGrid-item {
      margin-bottom: 28px;
      &:nth-child(odd) {
        border-right: 1px solid #373737;
      }
      @media screen and (max-width: 600px) {
        &:nth-child(odd) {
          border-right: none;
        } 
      }
    }

    .dashboard-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      position: relative;
      z-index: 2;
      
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(100px);
      }
    
      /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
      @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: #181B1C;
      }

      padding: 13px 0;

      .card-title {
        font-family: Montserrat Medium;
        font-weight: 500;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.6);
      }
  
      .card-value {
        font-family: Montserrat Bold;
        font-weight: bold;
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }
}