.dapp-sidebar {
  height: calc(100vh - 70px);
  min-width: 280px;
  display: flex;
  flex-direction: column;
  background: #313131;
  overflow: auto;

  .branding-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(266.46deg, #00FFF4 4.22%, #00D1C8 99.5%);

    .wallet-link {
      margin: 10px;
  
      p{
        font-family: Montserrat SemiBold;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }

  .dapp-menu-links{
    display: flex;
    align-items: center;

    .dapp-nav {
      width: 100%;
      display: flex;
      flex-flow: column;

      a {
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: -4px;
        }
      }

      .button-dapp-menu{
        .dapp-menu-item{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 24px 55px;
          border: 1px solid rgba(0, 0, 0, 0.3);

          p{
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            font-family: Montserrat SemiBold;
          }
        }
      }

      .button-dapp-menu.active {
        .dapp-menu-item{
          background: #1C1C1C;
        }
      }

      .bond-discounts {
        text-align: left;
        padding-left: 85px;
        margin-top: 24px;

        a{
          margin-left: 0;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      
        p{
          font-family: Montserrat;
          font-size: 14px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.6);
        }
        
        .bond {
          display: block;
          padding: unset;
          margin-bottom: 0 0 1px 0;
          text-decoration: none !important;
          .bond-pair-roi {
            float: right;
            margin-left: 33px;
          }
        }
      }
    }
  }

  .dapp-menu-doc-link{
    background: #313131;
    .dapp-menu-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 24px 55px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: -4px;
      }

      p{
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        font-family: Montserrat SemiBold;
      }
    }
    a {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
      padding-left: 85px;

      p{
        font-family: Montserrat;
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.MuiDrawer-root{
  .MuiPaper-root{
    
    z-index: 7;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgba(36, 39, 41, 0.1);
      backdrop-filter: blur(40px);
    }
  
    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
    }
  }
}
