.connect-button{
    background: #00E3D9;
    border-radius: 13px;
    padding: 9px 37px;
    cursor: pointer;

    display: flex;
    align-items: center;

    .connect-button-progress{
      margin-left: 10px;
      margin-top: 4px;
    }
  
    p{
      font-family: Montserrat SemiBold;
      font-weight: 600;
      font-size: 18px;
      color: #000000;
    }
  }